# GET /${4:$1}s/1
# GET /${5:$1}s/1.json
def show
	@${1:model} = ${2:Class}.find(params[:id])

	respond_to do |format|
		format.html # show.html.erb
		format.json { render json: @${3:$1} }
	end
end
${6}
